Repository HPI-de/hpi-android, pull requests merged in 2019-07, with the labels that each got.

#75 build: update libraries
  build.gradle.kts
  core/build.gradle.kts
  news/build.gradle.kts
Labels: P: 2, T: build

#69 feat(menu): shorten counter texts, display substitutions, display menus of different restaurants in separate cards & add menu to navigation
  .idea/navEditor.xml
  app/build.gradle.kts
  app/src/main/res/layout/app_activity_main.xml
  app/src/main/res/menu/app_drawer.xml
  core/build.gradle.kts
  core/src/main/java/de/hpi/android/core/presentation/base/BaseFragment.kt
  core/src/main/res/navigation/core.xml
  course/src/main/AndroidManifest.xml
  course/src/main/java/de/hpi/android/course/data/CourseDto.kt
  course/src/main/java/de/hpi/android/course/data/CourseSeriesRepository.kt
  course/src/main/java/de/hpi/android/course/data/SemesterRepository.kt
  course/src/main/java/de/hpi/android/course/domain/Course.kt
  course/src/main/res/layout/course_fragment_course_series_list.xml
  course/src/main/res/layout/course_item_course_series.xml
  course/src/main/res/values-de/strings.xml
  course/src/main/res/values/strings.xml
  feedback/src/main/AndroidManifest.xml
  menu/src/main/AndroidManifest.xml
  menu/src/main/java/de/hpi/android/menu/data/MenuRepository.kt
  menu/src/main/java/de/hpi/android/menu/presentation/list/MenuAdapter.kt
  menu/src/main/java/de/hpi/android/menu/presentation/list/MenuList.kt
  menu/src/main/java/de/hpi/android/menu/presentation/list/MenuListFragment.kt
  menu/src/main/java/de/hpi/android/menu/presentation/list/MenuView.kt
  menu/src/main/java/de/hpi/android/menu/presentation/list/RestaurantListFragment.kt
  menu/src/main/res/layout/menu_fragment_restaurants_list.xml
  menu/src/main/res/layout/menu_item_menu.xml
  menu/src/main/res/layout/menu_item_restaurant_card.xml
  menu/src/main/res/values-de/strings.xml
  menu/src/main/res/values/strings.xml
Labels: C: menu, PR: wip, T: feat

#76 feat(course): display CourseDetail
  core/src/main/java/de/hpi/android/core/utils/Extensions.kt
  course/src/main/java/de/hpi/android/course/data/CourseDetailRepository.kt
  course/src/main/java/de/hpi/android/course/data/CourseDto.kt
  course/src/main/java/de/hpi/android/course/data/CourseRepository.kt
  course/src/main/java/de/hpi/android/course/data/CourseSeriesRepository.kt
  course/src/main/java/de/hpi/android/course/domain/Course.kt
  course/src/main/java/de/hpi/android/course/domain/CourseMapper.kt
  course/src/main/java/de/hpi/android/course/domain/GetCourseDetailUseCase.kt
  course/src/main/java/de/hpi/android/course/presentation/detail/CourseDetailFragment.kt
  course/src/main/java/de/hpi/android/course/presentation/detail/CourseDetailViewModel.kt
  course/src/main/res/drawable/course_ic_outline_book_24dp.xml
  course/src/main/res/drawable/course_ic_outline_calendar_today_24dp.xml
  course/src/main/res/drawable/course_ic_outline_check_24dp.xml
  course/src/main/res/drawable/course_ic_outline_format_list_numbered_24dp.xml
  course/src/main/res/drawable/course_ic_outline_info_24dp.xml
  course/src/main/res/drawable/course_ic_outline_notes_24dp.xml
  course/src/main/res/drawable/course_ic_outline_open_in_new_24dp.xml
  course/src/main/res/drawable/course_ic_outline_person_24dp.xml
  course/src/main/res/drawable/course_ic_outline_school_24dp.xml
  course/src/main/res/drawable/course_ic_outline_videocam_24dp.xml
  course/src/main/res/drawable/course_ic_outline_view_module_24dp.xml
  course/src/main/res/layout/fragment_course_detail.xml
  course/src/main/res/values-de/strings.xml
  course/src/main/res/values/strings.xml
  course/src/main/res/values/styles.xml
Labels: C: course, T: feat

#74 feat(feedback): add feedback dialog and sending mock
  app/src/main/java/de/hpi/android/app/presentation/main/NavigationDrawerFragment.kt
  core/src/main/java/de/hpi/android/core/domain/BaseUseCase.kt
  core/src/main/java/de/hpi/android/core/presentation/SingleLiveEvent.kt
  core/src/main/java/de/hpi/android/core/presentation/base/BaseBottomSheepDialogFragment.kt
  core/src/main/java/de/hpi/android/core/presentation/utils/ViewModelUtils.kt
  feedback/build.gradle.kts
  feedback/src/main/java/de/hpi/android/feedback/data/FeedbackDto.kt
  feedback/src/main/java/de/hpi/android/feedback/data/FeedbackRepository.kt
  feedback/src/main/java/de/hpi/android/feedback/domain/SendFeedbackUseCase.kt
  feedback/src/main/java/de/hpi/android/feedback/presentation/FeedbackDialogFragment.kt
  feedback/src/main/java/de/hpi/android/feedback/presentation/FeedbackViewModel.kt
  feedback/src/main/java/de/hpi/android/feedback/presentation/utils/ViewUtils.kt
  feedback/src/main/res/layout/feedback_dialog_feedback.xml
  feedback/src/main/res/values-de/strings.xml
  feedback/src/main/res/values/strings.xml
Labels: C: feedback, T: feat
